# Don’t commit the following directories created by pub.
build/
packages/
packages
.pub/

# our own build system
deploy/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# markdown eclipse plugin
.*.md.html

# Include when developing application packages.
pubspec.lock
.packages

.idea/
