# mini-todo
pubspec.lock
mini-todo/web
mini-todo/packages

mini-todo/build/web/packages/$sdk

# build files not needed
*.dart.precompiled.js

# markdown eclipse plugin
.*.md.html

# interop.js no longer needed
mini-todo/build/web/packages/browser/interop.js