# mini-todo
# from master
pubspec.lock
*/web
*/packages
*/tool

**/web/packages/$sdk

# build files not needed
*.dart.precompiled.js

# markdown eclipse plugin
.*.md.html

# interop.js no longer needed
*/*/web/packages/browser/interop.js